node_modules
.venv
.venv-1
backend/.venv
backend/.venv-1
backend/if
backend/needed
backend/#
backend/node_modules
dist
build
dist
.output
.vinxi
pnpm-lock.yaml
package-lock.json
bun.lock
routeTree.gen.ts
